* {
	margin: 0;
	padding: 0;
}

body {
	margin: 85px 0 0 0;
	// font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu',
	// 	'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: -apple-system, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.row {
	display: flex;
}

// моё бдсм с микминами и сокращенными переменными

@mixin flexible() {
	display: flex;
	justify-content: center;
	align-items: center;
}

.jc-sb {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pt-15 {
	padding-top: 15px;
}

.pb-15 {
	padding-bottom: 15px;
}

.danger {
	color: #dc3545;
}

.warning {
	color: #ffc107;
}

.success {
	color: #28a745;
}
