* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    // font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu',
    // 	'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
}

#root {
    position: relative;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
}

// моё бдсм с микминами и сокращенными переменными

@mixin flexible() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jc-c {
    display: flex;
    justify-content: center;
}

.jc-sb {
    display: flex;
    justify-content: space-between;
}

.jc-sa {
    display: flex;
    justify-content: space-around;
}

.fd-c {
    display: flex;
    flex-direction: column;
}

// paddings - p

.p-15 {
    padding: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

// margins - m

.m-8 {
    margin: 8px;
}

// colors
.danger {
    color: #dc3545;
}

.warning {
    color: #ffc107;
}

.success {
    color: #28a745;
}
