footer {
    width: 100%;
    background-color: #1a1a1a;
    color: white;

    & ul {
        list-style: none;
        font-weight: bold;
        text-transform: uppercase;

        & li {
            font-weight: normal;
            margin: 16px 0;
            text-transform: none;
        }
    }

    & .footer__content {
        padding: 50px 15px;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &--left-section {
            flex: 7;

            & .footer__content--logo {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .footer__content--socials > ul {
                margin-top: 15px;
                display: flex;
                justify-content: center;
                align-items: center;

                & svg {
                    margin: 0 16px;
                    height: 32px;
                    width: 32px;
                }
            }
        }

        &--right-section {
            display: flex;
            flex: 5;

            & .first-col {
                display: flex;
                justify-content: center;
                flex: 1;
            }

            & .second-col {
                display: flex;
                justify-content: center;
                flex: 1;
            }
        }
    }

    & .footer__bottom {
        border-top: 1px solid gray;

        &--content {
            color: gray;
            height: 40px;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
