footer {
    width: 100%;
    min-height: 150px;
    background-color: darkgray;
    color: white;

    & .first-col {
        flex: 8;
        background-color: lightgreen;
    }

    & .second-col {
        flex: 2;
        background-color: lightpink;
    }

    & .third-col {
        flex: 2;
        background-color: lightskyblue;
    }
}
