footer {
    width: 100%;
    background-color: #1a1a1a;
    color: white;

    & ul {
        list-style: none;
        font-weight: bold;

        & li {
            font-weight: normal;
            margin: 8px 0;
        }
    }

    & .footer__content {
        padding: 50px 15px;
        display: flex;
        justify-content: center;
        align-items: start;

        &--left-section {
            flex: 7;
        }

        &--right-section {
            display: flex;
            flex: 5;

            & .first-col {
                display: flex;
                justify-content: center;
                flex: 1;
            }

            & .second-col {
                display: flex;
                justify-content: center;
                flex: 1;
            }
        }
    }

    & .footer__bottom {
        border-top: 1px solid gray;

        &--content {
            color: gray;
            height: 40px;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
