header {
    position: fixed;
    width: 100%;
    height: 64px;

    top: 0px;
    background-color: rgb(238, 141, 77);
    color: black;
    z-index: 1030;

    display: flex;
    flex: 1 0 auto;
    justify-content: center;

    & .header__content {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & .header__content--logo {
            flex: 2;
        }

        & .header__content--links {
            flex: 8;

            & ul {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;

                & li {
                    margin: 0 10px;
                }
            }
        }

        & .header__content--login {
            flex: 2;

            display: flex;
            justify-content: center;
            align-items: center;

            & .home,
            .notification {
                margin: 0 10px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: gray;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .admin,
            .menu-burger {
                margin: 0 10px;
            }

            & .notification {
                position: relative;

                & span {
                    position: absolute;
                    top: -4px;
                    right: -4px;
                    background-color: red;
                    border-radius: 50%;
                    height: 14px;
                    width: 14px;
                    font-size: 11px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            & .login {
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                & svg {
                    margin-left: 10px;
                }
            }
        }
    }

    a {
        color: black;
        text-decoration: none;

        &:hover {
            color: gray;
            text-decoration: underline;
        }
    }
}
